*{
	margin: 0;
	padding:0;
}
#contenedor_pag{
	margin: 0 auto;
	width: 90%;
	margin-top: 20px;
}
.ancho{
	width: 100%;
	height: 50px;
	background-color: olive;
}
.logo{
	width: 60%;
	height: 50px;
	background-color: red;
	margin: auto;
}

.boton{
	width: 400px;
	height: 60px;
	border: none;
	background-color: #E2E4E6;


}